@use 'variables' as *;

@mixin colors($bg-clr, $text-clr: $white-clr) {
  background-color: $bg-clr;
  color: $text-clr;
}

@mixin card {
  padding: $space-lg $space-2xl $space-2xl $space-2xl;
  border-radius: $bd-rounded;
  box-shadow: $box-shadow;
}

@mixin image-border {
  img {
    border: 2px solid lighten($moderate-violet-clr, 15%);
  }
  
}

// 768px
@mixin tablet {
  @media (min-width: 48em) {
    @content;
  }
}

// 1000px
@mixin desktop {
  @media (min-width: 75em) {
    @content;
  }
}