*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-inline-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100svh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
}

.testimonials {
  max-inline-size: 20.4375rem;
  display: grid;
  gap: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.testimonial {
  padding: 24px 30px 32px 32px;
  border-radius: 0.5rem;
}

.daniel {
  background-color: hsl(263, 55%, 52%);
}

figcaption {
  display: flex;
  gap: 16px;
  align-items: center;
}
figcaption div {
  line-height: 1.3;
}
figcaption img {
  border-radius: 50%;
}

.testimonial__status {
  opacity: 50%;
  font-size: 0.6875rem;
  letter-spacing: 0.01px;
}

.testimonial__para-1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1px;
  margin-block: 1rem;
}

.testimonial__para-2 {
  opacity: 70%;
  line-height: 1.4;
  letter-spacing: 0.005em;
}
